/* general design */
body {
color: #666666;
font-family: Arial, Helvetica, sans-serif;
font-size: 16px;
line-height: 24px;
}
p{ 
	margin-bottom: 24px; 
}
#wrapper{
	margin:10px 0 0 0;
}
#top-bar{
	height: 150px;
 }
#logo {
	width: 128px;
}
#header-mod{
	margin: 70px 0 70px 0;
	height: 150px;
}
#admin-page{
	margin: 80px 0 80px 0;
}
.quote {
	color: #333333;
	font-family: Georgia, serif;
	font-size: 24px;
	font-style: italic;
	line-height: 36px; 
}
.top {
    height: 380px;
    background-color: #AC1117;
}
#title-section{
	font-family: Georgia, serif;
	font-size: 20px;
	color: #333333;
	text-transform: uppercase;
	margin: 0 0 40px 0;
}
#content-one-column{
	margin: 0 0 50px 0;
	padding: 36px 0 0 0;
}
#content-one-column h3{
	margin: 0 0 50px 0;
	font-family: Georgia, bookman, serif;
	font-style: italic;
	color: #333333;
}
#content-two-columns{
	margin: 0 0 50px 0;
}
#content-two-columns h3{
	margin: 0 0 50px 0;
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}
#content-bottom{
	margin: 0 0 50px 0;
	font-family: "Times New Roman", bookman, serif;
}
#content-bottom h3{
	margin-bottom: 30px;
}
.col-centered{
    float: none;
    margin: 0 auto 20px auto;
}
#content-bottom .content-desc{
	color: #7F7F7F;
	font-family: arial, serif;
	font-size: 14px;
    padding: 0 20px 0 20px;
    margin-bottom: 30px;
}
#content-bottom .content-desc-link{
	color: #A01B7C;
	font-family: arial, serif;
	font-size: 14px;
	text-align: center;
    padding: 0 20px 0 20px;
    margin-bottom: 30px;
}
#content-bottom .news-title{
	text-transform:uppercase;
	font-weight:bold;
}
#content-bottom .news-date {
    color: #8FA6B3;
	font-family: arial, serif;
    font-size: 12px;
    margin-bottom: 20px;
}
#news{
	margin: 50px 0 200px 0;
}
#footer-top{
	margin-bottom: 40px;
}
#footer-bottom{
	font-size: 0.9em;
}
#footer-menu a{
	color:#b3afac;
}
#footer-company-addr a{
	color:#b3afac;
}
.company-info {
	font-size: 1em;
}
.example-block {
    height: 75px;
    background-color: #A7CDEC;
}
.example-block.alt {
    background-color: #ECAFA7;
}

/* bootstrap override */
.jumbotron.header-mod{
	background-image:url(images/body_vector_sub.jpg);
	height:142px;
	margin: 40px auto;
}
.jumbotron.body-mod{
	background-image:url(images/body_vector.jpg);
	height:383px;
	color:#FFFFFF;
}
.jumbotron.emphasize{
	background-color:#EEEEEE;
}
.jumbotron.footer-mod{
	background-color:#1c1d19;
	color:#FFFFFF;
	margin-bottom: 0px;
}
span.pull-right{
	float: right;
}
.navbar-default {
    background-color:transparent;
    border: none;
}
.navbar .nav.navbar-nav.pull-right {
    float: right;
    margin: 60px -10px 0 0; /*set menu's margin that is parallel to the margin of the logo */
  }
.btn.btn-social-icon.btn-lg{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
.blog-post-title{
	font-family: Georgia, serif;
	font-size: 20px;
	color: #333333;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.blog-post-meta{
    color: #8FA6B3;
	font-family: arial, serif;
    font-size: 14px;
    margin-bottom: 20px;
}
.sidebar-module{
	font-family: Georgia, serif;
	font-size: 20px;
	color: #333333;
}
.sidebar-module li {
  padding-left: 1.3em;
  text-transform: uppercase;
  font-size: 0.8em;
}
.sidebar-module li:before {
  content: "+";
  display: inline-block;
  margin-left: -1.3em;
  width: 1.3em;
}
/* font-awesome override */
.fa .fa-facebook { background-image: url(images/icon.fb.gif) no-repeat; }
.fa .fa-twitter { background-image: url(images/icon.twitter.gif) no-repeat; }
.fa .fa-google-plus { background-image: url(images/icon.gplus.gif) no-repeat; }
.fa .fa-linkedin { background-image: url(images/icon.linkedin.gif) no-repeat; }



